# Firebase Config (Permitido porque está restringido por dominio)
# firebase-config.js

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Local data backups
data/*.bak
